body {
    margin: 0px;
    padding: 0px;
    font-family: Georgia Regular;
}

.page {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    &__content {
        padding: 40px 20px;
        background: $main-bg;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    &__title {
        font-size: 26px;
        color: $title-color;
        font-weight: 100;
        margin: 35px 0px 20px;
    }

    &__link {
        color: $active-color;
        cursor: pointer;

        &:hover {
            color: #b02803;
        }
    }
}

p {
    font-size: 14px;
}

a {
    @extend %color-transition;
}
