@font-face {
    font-family: 'Georgia Regular';
    src: url('../../assets/font/georgia.eot');
    src: url('../../assets/font/georgia.eot?#iefix') format('embedded-opentype'), url('../../assets/font/georgia.woff') format('woff'), url('../../assets/font/georgia.woff2') format('woff2'), url('../../assets/font/georgia.ttf') format('truetype'), url('../../assets/font/georgia.svg') format ('svg');
    font-weight: normal;
    font-style: normal;
}
