$title-color: #666666;
$active-color: #ff5d30;
$text-color: #989898;
$main-bg: #e2e2e2;

%rotate {
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

%bg-transition {
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
}

%color-transition {
    -webkit-transition: color 0.8s ease;
    -moz-transition: color 0.8s ease;
    -o-transition: color 0.8s ease;
    transition: color 0.8s ease;
}

%basic-transition {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

%full-img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center;
}

@keyframes big-right {
    from {
        width: 100%;
        height: 0;
        bottom: 0;
        left: 0;
    }

    to {
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
    }
}

@keyframes big-left {
    from {
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
    }

    to {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
