.copyright {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background: $main-bg;
    padding: 3px 20px;

    &__text {
        color: #919191;
        margin: 20px 0px;
    }
}
