.footer {

    &__section {
        background: #ededed;
        border-top: 1px solid #d8d8d8;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: flex-start;
        padding: 5px 0px 10px;

        @media (max-width: 999px) {
            flex-direction: column;
        }
    }

    &__box {
        padding: 20px;
    }

    &__col {
        width: 33.33333%;

        @media (max-width: 999px) {
            width: 100%;
        }
    }
}
