.widgets-social {

    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: flex-start;
    }

    &__item {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
    }

    &__icon {
        background: #282828;
        border-radius: 50%;
        padding: 6px;
        margin-right: 10px;
        @extend %bg-transition;

        .widgets-social__item:hover & {
            background: $active-color;
            -webkit-transform: scale(0.9);
            -moz-transform: scale(0.9);
            -o-transform: scale(0.9);
            transform: scale(0.9);
        }
    }

    &__title {
        font-size: 13px;
        color: $text-color;
        @extend %color-transition;

        .widgets-social__item:hover & {
            color: $title-color;
        }
    }
}
