.widgets {
    padding: 0px 20px 10px;

    &__title {
        margin: 0px;
        color: $text-color;
        font-weight: bold;
        font-size: 14px;
    }

    &__caption {
        font-style: italic;
        color: $title-color;
        font-size: 20px;
        margin: 20px 0px 15px;
    }

    &__link {
        font-size: 13px;
    }

    &__link-container {
        text-align: right;
    }

    &__text {
        color: $text-color;
        line-height: 1.4;
        font-size: 13px;
    }

    &__info {
        color: #757575;
        font-size: 11px;
        margin-top: 7px;
    }
}
