.gallery {

    &__item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;

        @media (max-width: 999px) {
            justify-content: flex-start;
        }

        &--main {
            margin-right: 20px;

            @media (min-width: 999px) {
                min-width: 568px;
            }

            @media (max-width: 999px) {
                margin-right: 0px;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;

        @media (max-width: 999px) {
            flex-direction: column;
        }
    }

    &__image-container {
        width: 120px;
        height: 120px;

        &--main {
            width: 568px;
            height: 250px;
            position: relative;
        }
    }

    &__image-big {
        @extend %full-img;
        @extend %basic-transition;

        &--two {
            position: absolute;
            animation-name: big-right;
            animation-duration: 2s;
        }

        &--one {
            position: absolute;
            animation-name: big-left;
            animation-duration: 2s;
        }
    }

    &__image-min {
        @extend %full-img;
        cursor: pointer;
    }
}
