.home-slider {
    position: relative;
    width: 960px;
    max-width: 100%;
    height: 400px;
    margin: 0 auto;
    background-position: center;

    &__dot {
        width: 8px;
        height: 8px;
        margin-left: 8px;
        border-radius: 50%;
        border: 2px solid white;
        background: white;
        cursor: pointer;
        @extend %bg-transition;

        &--current, &:hover {
            background: transparent;
        }
    }

    &__dots {
        list-style: none;
        padding: 12px;
        margin: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
    }

    &__item {
        background: rgba(0, 0, 0, 0.50);
        padding: 20px 25px;
        max-width: 35%;
        position: absolute;
        bottom: 25px;
        left: 25px;
        -webkit-box-shadow: 0px 0px 12px 0px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 12px 0px rgba(255,255,255,1);
        box-shadow: 0px 0px 12px 0px rgba(255,255,255,1);

        @media (max-width: 780px) {
            max-width: 100%;
            left: 0px;
        }
    }

    &__text {
        color: #c1c1c1;
        line-height: 1.8;
        margin: 20px 0px 0px;
    }

    &__title {
        color: #c2c2c2;
        font-size: 20px;
        margin: 0px;
    }
}
