.story {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;

    &__item {
        width: 300px;

        @media (max-width: 640px) {
            width: 100%;
        }
    }

    &__image {
        max-width: 100%;
    }

    &__link {
        font-size: 14px;
    }

    &__text {
        color: $title-color;
        margin: 20px 0px 0px;
    }
}
