.form-subscription {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;

    &__control {
        background: #f5f5f5;
        background: -webkit-linear-gradient(top,#f5f5f5,#dadada);
        background: -o-linear-gradient(top,#f5f5f5,#dadada);
        background: -moz-linear-gradient(top,#f5f5f5,#dadada);
        background: linear-gradient(180deg,#f5f5f5,#dadada);
        border: 1px solid #d1d1d1;
        outline: none;
        padding: 8px 6px 5px;
        border-radius: 5px;
        color: $text-color;
        text-transform: capitalize;
        font-size: 13px;
        @extend %bg-transition;

        &:hover {
            background: $main-bg;
        }
    }

    &__button {
        background: #f6f6f6;
        background: -webkit-linear-gradient(top,#f6f6f6,#dadada);
        background: -o-linear-gradient(top,#f6f6f6,#dadada);
        background: -moz-linear-gradient(top,#f6f6f6,#dadada);
        background: linear-gradient(to bottom, #f6f6f6, #dadada);
        border: 1px solid #d1d1d1;
        outline: none;
        padding: 8px 22px 5px;
        border-radius: 5px;
        color: $active-color;
        font-weight: bold;
        @extend %bg-transition;

        &:hover {
            background: $main-bg;
        }
    }
}
