.page-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 40px 20px;

    &__logo {

        @media (max-width: 860px) {
            margin-bottom: 20px;
        }
    }

    &__title {
        margin: 0px;
        color: #505050;
        font-size: 36px;
    }

    &__subtitle {
        margin: 8px 0px 0px;
        color: $title-color;
        font-size: 13px;
    }
}
