.nav {
    padding: 20px 25px;
    border-radius: 15px;
    width: 100%;
    max-width: 570px;

    &--grey {
        background: #303030;
    }

    &__item {

        &--has-sub {
            &:hover:after {
                @extend %rotate;
            }

            &:after {
                content: "↓";
                display: inline-block;
                color: white;
                transition: 0.8s;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-size: 13px;

        &:hover {
            color: #bdbdbf;
        }
    }
}
