.sub-nav {

    &__list {
        list-style: none;
        background: $main-bg;
        padding: 0px;
        position: absolute;
        z-index: 9;
        opacity: 0;
        height: 0px;
        overflow: hidden;
        @extend %basic-transition;
        min-width: 120px;
        -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.56);
        -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.56);
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.56);
    }

    .nav__item--has-sub:hover > &__list {
        opacity: 1;
        border-top: 5px solid #333333;
        height: auto;
        overflow: inherit;
    }

    &__item {
        padding: 5px 10px;
        position: relative;
        @extend %bg-transition;

        &:hover {
            background: rgba(102, 102, 102, 0.21);
        }

        &--has-sub {

            &:hover:after {
                @extend %rotate;
            }

            &:after {
                content: "\2192";
                display: inline-block;
                color: black;
                transition: .8s;
                right: 10px;
                position: absolute;
            }

            & > .sub-nav__list {
                left: 120px;
                top: 0px;
            }

            &:hover > .sub-nav__list {
                opacity: 1;
                border-top: 5px solid #333333;
                height: auto;
                overflow: inherit;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: #191919;
        font-size: 13px;

        &:hover {
            color: black;
        }
    }
}
